{{!-- used handlebars to create the card with info from json -- 
findType and findAreaName two registered helper functions. --}}

{{#each this}}

    <div class="card">
    <section id="attraction--{{@index}}" class="all-attractions">
    <h5><a href="#" class="attr-name">{{name}} ({{findType type_id}})</a></h5>
    <p class="<attr-copy></attr-copy>">({{findAreaName area_id}})</p>
    </section>
    <section class="hidden seent">
        <p class="attr-desc">{{description}}</p> 

{{!-- This is a loop that goes through specific times --}}
        {{#each times}}
        <span class="attr-desc">{{this}}</span>    
		{{#unless @last}}
		|
    	{{/unless}}
        {{/each}}

    </section>
    </div>

{{/each}}